<%- include('./partials/header')  %>


<main>
    <div class="articles">
        <% posts.forEach((post)=> {%> 
        <div class="card">
            
            <a href="Post/<%= post._id%>" class="title"> <h1 ><%= post.title %></h1></a> 
            <p class="author">Posted by <%= post.author.fname %> on <%= post.createdAt.toDateString() %></p>
            <div class="content">
                <p>
                    <img src="<%= post.imagelink %>" alt="">
                 <%- post.content %>
                </p>
            </div>
          
            <div class="actions">
                <a href="/Post/<%= post._id%>">Read more..</a>
            </div>
          
        </div>
        <% })  %>
    </div>
    <div class="sidebar">

        <%- include('./partials/sidebar', {recent_post}) %>
      
    </div>
</main>



<%- include('./partials/footer')  %>
