<%- include('./partials/header')  %>

<main>
   
    <div class="post-details">
      
        <h1 class="title"><%= post.title %></h1>
        <span class="author">Posted By <%= post.author.fname%> on <%= post.createdAt.toDateString() %> </span>
        <div class="content">
            <p><img src="<%= post.imagelink %>" alt="">
                <%- post.content %>
            </p>
        </div>

    </div>

    <div class="sidebar">
        <%- include('./partials/sidebar', {recent_post}) %>
    </div>
</main>



<%- include('./partials/footer') %>